<a href="https://colab.research.google.com/github/sgalsant/basedatos/blob/main/ejercicios/crear_basedatos_ventas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>**Ventas**: Ejercicio de creación de base de datos con SQL</h1>

## Alumno/a:.....

## inicialización

In [1]:
database = 'ventas'

In [2]:
#@title instalar mysql server con usuario "root" y contraseña "root"
%%shell
apt-get update > null
apt-get -y install mysql-server > null
/etc/init.d/mysql restart > null
service mysql status

mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

su: warning: cannot change directory to /nonexistent: No such file or directory
 * /usr/bin/mysqladmin  Ver 8.0.35-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2023, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.35-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			1 sec

Threads: 2  Questions: 8  Slow queries: 0  Opens: 119  Flush tables: 3  Open tables: 38  Queries per second avg: 8.000

In [3]:
#@title version de sqlalchemy compatible con magic %sql
#!pip install sqlalchemy==1.4.46 ipython-sql==0.4.1 #la verion de magic sql %sql no es compatible con la version 2.0 o superiores
!pip install sqlalchemy_utils


import sqlalchemy
sqlalchemy.__version__ # doctest: +SKIP

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: pydot in /usr/local/lib/python3.10/dist-packages (1.4.2)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.10/dist-packages (from pydot) (3.1.1)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Collecting sqlalchemy_utils
  Downloading SQLAlchemy_Utils-0.41.1-py3-none-any.whl (92 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.6/92.6 kB 2.4 MB/s eta 0:00:00
Collecting sqlalchemy_schemadisplay
  Downloading sqlalchemy_schemadisplay-1.3.zip (11 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: SQLAlchemy>=1.3 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy_utils) (2.0.23)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from sqlalchemy_schemadisplay) (67.7.2)
Requirement already satisfied: pydot in /usr/local/lib/python3.10/dist-packages (from sqlalchemy_schemadisplay) (1.4.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (3.0.2)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.10/dist-packages (from pydot->sqlalchemy_schemadisplay) (3.1.1)
Building wheels for collected packages: sqlalchemy_schemadisplay
  Building wheel for sqlalchemy_schemadisplay (setup.py) ... done
  Created wheel for sqlalchemy_schemadisplay: filename=sqlalchemy_schemadisplay-1.3-py3-none-any.whl size=5909 sha256=92ac6c41b904f0fdc3e476a9301b4672003769469acb0646f2aa494d454199b3
  Stored in directory: /root/.cache/pip/wheels/0c/f7/e8/6f10d97bf57730bac61edef2341bb4ed47456c9b81f47f8c8c
Successfully built sqlalchemy_schemadisplay
Installing collected packages: sqlalchemy_utils, sqlalchemy_schemadisplay
Successfully installed sqlalchemy_schemadisplay-1.3 sqlalchemy_utils-0.41.1

'2.0.23'

In [18]:
#@title conexión a la base de datos, borrando previamente la base de datos si existe
%env DATABASE_URL= mysql+pymysql://root:root@localhost/{database}


import os
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database, drop_database


def createDatabase():
  engine = create_engine(os.environ["DATABASE_URL"])

  if database_exists(engine.url):
      drop_database(engine.url)

  create_database(engine.url)


createDatabase()

%reload_ext sql

%sql show databases

env: DATABASE_URL=mysql+pymysql://root:root@localhost/ventas
 * mysql+pymysql://root:***@localhost/ventas
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('ventas',)]

## Útiles

In [49]:
#@title generar script de la base de datos
!echo 'base de datos:' {database}
!mysqldump --add-drop-database -d -uroot -proot --databases {database}

base de datos: ventas
mysqldump: [Warning] Using a password on the command line interface can be insecure.
-- MySQL dump 10.13  Distrib 8.0.35, for Linux (x86_64)
--
-- Host: localhost    Database: ventas
-- ------------------------------------------------------
-- Server version	8.0.35-0ubuntu0.22.04.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `ventas`
--

/*!40000 DROP DATABASE IF EXISTS `ventas`*/;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `ventas` /*!40100 DEFAULT CHARACTER SET utf8mb3 */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `ventas`;

--
-- Table structure for table `ciudades`
--

DROP TABLE IF EXISTS `ciudades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ciudades` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(10) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(20) NOT NULL,
  `telefono` char(9) DEFAULT NULL,
  `dni` char(8) NOT NULL,
  `idCiudad` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_clientes_idciudad` (`idCiudad`),
  CONSTRAINT `fk_clientes_idciudad` FOREIGN KEY (`idCiudad`) REFERENCES `ciudades` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(10) NOT NULL,
  `precio` decimal(6,2) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ventas`
--

DROP TABLE IF EXISTS `ventas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas` (
  `idCliente` int NOT NULL,
  `idProducto` int NOT NULL,
  `cantidad` int unsigned NOT NULL,
  PRIMARY KEY (`idCliente`,`idProducto`),
  KEY `fk_ventas_idProducto` (`idProducto`),
  CONSTRAINT `ventas_ibfk_1` FOREIGN KEY (`idCliente`) REFERENCES `clientes` (`id`),
  CONSTRAINT `ventas_ibfk_2` FOREIGN KEY (`idProducto`) REFERENCES `productos` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-01-02 16:35:21

In [43]:
#@title Eliminar y volver a crear la base de datos vacía
createDatabase()
print ("base de datos: " + database)

base de datos: ventas

## Ejercicios

Escribe las sentencias sql necesarias para crear las siguientes tablas:
1. Tabla clientes:
    a. id entero, autonumérico y clave primaria
    b. nombre texto, obligatorio, longitud máxima 20 carácteres
    c. Teléfono texto de longitud fija de 9 dígitos
    d. ciudad texto de longitud máxima 15 carácteres

2. Tabla productos:
    a. id entero, autonumérico y clave primaria
    b. nombre texto, obligatorio, longitud máxima de 10 carácteres
    c. precio valor décimal con dos dígitos decimales. Máximo valor permitido 9999

3. Tabla ventas:
    a. idCliente entero, clave ajena que referencia a la tabla clientes
    b. idProducto entero, clave ajena que referencia a la tabla productos.
    c. fechaHora campo con fecha y hora de la venta
    d. cantidad entero, valor obligatorio

In [44]:
#@title Ejercicio1: crear la tabla empleados
%%sql
create table clientes (
  id integer auto_increment,
  nombre varchar(20) not null,
  telefono char(9),
  ciudad varchar(15),

  primary key(id)
);

 * mysql+pymysql://root:***@localhost/ventas
0 rows affected.

[]

In [45]:
#@title Ejercicio 2: crear la tabla productos
%%sql
create table productos (
  id integer auto_increment,
  nombre varchar(10) not null,
  precio decimal(6, 2) UNSIGNED,

  primary key(id)
);

 * mysql+pymysql://root:***@localhost/ventas
0 rows affected.

[]

In [46]:
#@title Ejercicio 3: crear la tabla ventas
%%sql
create table ventas (
  idCliente int,
  idProducto int,
  cantidad int unsigned not null,
  primary key (idCliente, idProducto),
  foreign key fk_ventas_idCliente (idCliente) references clientes(id),
  foreign key fk_ventas_idProducto (idProducto) references productos(id)
);

 * mysql+pymysql://root:***@localhost/ventas
0 rows affected.

[]

In [47]:
#@title Ejercicio 4: añadir a la tabla clientes la columna dni con longitud de 8 carácteres y obligatoria
%%sql
alter table clientes
add column dni char(8) not null

 * mysql+pymysql://root:***@localhost/ventas
0 rows affected.

[]

In [48]:
#@title Ejercicio 5: añadir una tabla con todos los nombres de ciudades e id de ciudad, y cambiar la columna "ciudad" de la tabla "clientes" por un idCiudad que es clave ajena. No pueden existir dos ciudades con el mismo nombre
%%sql
create table ciudades(
  id int auto_increment,
  nombre varchar(10) not null unique,
  primary key (id)
);


alter table clientes
  drop column ciudad,
  add column idCiudad int not null,
  ADD CONSTRAINT fk_clientes_idciudad
    FOREIGN KEY (idciudad) REFERENCES ciudades(id);

 * mysql+pymysql://root:***@localhost/ventas
0 rows affected.
0 rows affected.

[]