<a href="https://colab.research.google.com/github/sgalsant/basedatos/blob/main/colab/consulta_ciclismo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Consulta base de datos de ciclismo</h1>

## inicialización

In [ ]:
urlRepositorio = 'https://github.com/sgalsant/basedatos.git'
database = 'ciclismo'

dirDatabase = database #directorio dentro del repositorio en el que se encuentran los scripts de la base de datos

In [ ]:
#@title version de sqlalchemy compatible con magic %sql
#!pip install sqlalchemy==1.4.46 ipython-sql==0.4.1 #la verion de magic sql %sql no es compatible con la version 2.0 o superiores
import sqlalchemy
sqlalchemy.__version__ # doctest: +SKIP

'2.0.23'

In [ ]:
#@title descargar base de datos del repositorio

directory = '/content/' + database

!rm {directory} -r
!git clone {urlRepositorio} {directory}

if (dirDatabase == ""):
  pathDB = directory
else:
  pathDB = directory + "/" + dirDatabase

print ("los scripts de la base de datos están en: " + pathDB)

Cloning into '/content/northwind'...
remote: Enumerating objects: 75, done.
remote: Counting objects: 100% (75/75), done.
remote: Compressing objects: 100% (66/66), done.
remote: Total 75 (delta 20), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (75/75), 237.90 KiB | 2.90 MiB/s, done.
Resolving deltas: 100% (20/20), done.
los scripts de la base de datos están en: /content/northwind/northwind

In [ ]:
#@title instalar mysql server con usuario "root" y contraseña "root"
%%shell
apt-get update > null
apt-get -y install mysql-server > null
/etc/init.d/mysql restart > null
service mysql status

su: warning: cannot change directory to /nonexistent: No such file or directory
 * /usr/bin/mysqladmin  Ver 8.0.35-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2023, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.35-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			1 sec

Threads: 2  Questions: 8  Slow queries: 0  Opens: 119  Flush tables: 3  Open tables: 38  Queries per second avg: 8.000

In [ ]:
#@title cargar base de datos y crear usuario "alumno" con permisos en esa base de datos

!echo -e "[client]\nuser = \"root\"\npassword = \"root\"\nhost = \"localhost\"" > config.cnf

print ("cargando " + pathDB + "/" + database +  ".sql")
!mysql --defaults-extra-file=config.cnf < {pathDB}/{database}.sql
!mysql --defaults-extra-file=config.cnf -e 'show databases; use {database}; show tables'

![ -f {pathDB}/{database}-data.sql ] && mysql --defaults-extra-file=config.cnf < {pathDB}/{database}-data.sql && echo "cargado datos"

!mysql --defaults-extra-file=config.cnf -e 'DROP USER IF EXISTS "alumno"@"localhost";CREATE USER "alumno"@"localhost" IDENTIFIED WITH mysql_native_password BY "alumno";GRANT ALL PRIVILEGES ON {database}.* TO "alumno"@"localhost";flush privileges;'

cargando /content/northwind/northwind/northwind.sql
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| northwind          |
| performance_schema |
| sys                |
+--------------------+
+-----------------------------+
| Tables_in_northwind         |
+-----------------------------+
| customers                   |
| employee_privileges         |
| employees                   |
| inventory_transaction_types |
| inventory_transactions      |
| invoices                    |
| order_details               |
| order_details_status        |
| orders                      |
| orders_status               |
| orders_tax_status           |
| privileges                  |
| products                    |
| purchase_order_details      |
| purchase_order_status       |
| purchase_orders             |
| sales_reports               |
| shippers                    |
| strings                     |
| suppliers                   |
+-----------------------------+
cargado datos

In [ ]:
#@title conexión a la base de datos
!pip install pymysql

%env DATABASE_URL= mysql+pymysql://alumno:alumno@localhost/{database}
%reload_ext sql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 792.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
env: DATABASE_URL=mysql+pymysql://alumno:alumno@localhost/northwind

##Consultar información de la base de datos

In [ ]:
#@title diagrama ER
from IPython.display import Image, display

import os
for file in os.listdir(pathDB):
    if file.endswith((".png", ".jpg")):
        print (file)
        display(Image(pathDB + '/' + file))

In [ ]:
#@title mostrar información de una tabla { run: "auto", vertical-output: true }
table_name = "products" #@param {type:"string"}
!mysqlshow {database} {table_name};

## Ejercicios
1. Obtener el puerto más alto
1. Obtener el código, el tipo, el color y el premio de todos los maillots que hay
1. Obtener el nombre y la altura de todos los puertos de categoría 'E'(Especial)
1. Obtener nombre de los equipos y de los ciclistas que han ganado alguna etapa.
1. Obtener el nombre de los ciclistas que pertenezcan al mismo equipo que Dimitri Konishev y cuyas edades estén entre 20 y 25
1. Obtener el nombre de los ciclistas, sin repeticiones, que han ganado alguna etapa, color del maillot que llevaban y premio obtenido.Ordenar por premio de mayor a menor
1. Nombre de los ciclistas que han llevado el maillot General
1. Obtener el dorsal y el nombre de los ciclistas cuya edad sea menor o igual que 25 años.
1. Obtener el nombre del ciclista cuya edad sea inferior la media general. Ordenar por edad de menor a mayor
1. Obtener el numero de puertos (utilizar alias 'totalpuertos') que ha ganado cada ciclista.
1. Obtener el nombre de los equipos que tengan más de 5 ciclistas
1. Obtener el nombre y el director de los equipos a los que pertenezca algún ciclista mayor de 33 años
1. Obtener los ciclistas que han llevado el mismo maillot que Pedro Delgado
1. Nombre de los ciclistas que hayan ganado más de un puerto de montaña.'
1. De cada equipo obtener la edad media, la máxima edad y la mínima edad.
1. Nombre de aquellos ciclistas que tengan una edad entre 25 y 30 años y que no pertenezcan a los equipos Kelme y Banesto.