<a href="https://colab.research.google.com/github/sgalsant/basedatos/blob/main/colab/TAREA0_INICIAL_CREARBD_VENTAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##CREACIÓN DE UNA BASE DE DATOS CON SQL. **BD_VENTAS**

## Alumno/a:.....

## INICIALIZACIÓN

In [ ]:
database = 'ventas'

In [ ]:
#@title instalar mysql server con usuario "root" y contraseña "root"
%%shell
apt-get update > null
apt-get -y install mysql-server > null
/etc/init.d/mysql restart > null
service mysql status

mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

su: warning: cannot change directory to /nonexistent: No such file or directory
 * /usr/bin/mysqladmin  Ver 8.0.35-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2023, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.35-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			1 sec

Threads: 2  Questions: 8  Slow queries: 0  Opens: 119  Flush tables: 3  Open tables: 38  Queries per second avg: 8.000

In [ ]:
#@title version de sqlalchemy compatible con magic %sql
#!pip install sqlalchemy==1.4.46 ipython-sql==0.4.1 #la verion de magic sql %sql no es compatible con la version 2.0 o superiores
!pip install pymysql
!pip install sqlalchemy_utils


import sqlalchemy
sqlalchemy.__version__ # doctest: +SKIP

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Requirement already satisfied: sqlalchemy_utils in /usr/local/lib/python3.10/dist-packages (0.41.1)
Requirement already satisfied: SQLAlchemy>=1.3 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy_utils) (2.0.23)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (3.0.2)

'2.0.23'

In [ ]:
#@title conexión a la base de datos, borrando previamente la base de datos si existe
%env DATABASE_URL= mysql+pymysql://root:root@localhost/{database}


import os
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database, drop_database


def createDatabase():
  engine = create_engine(os.environ["DATABASE_URL"])

  if database_exists(engine.url):
      drop_database(engine.url)

  create_database(engine.url)


createDatabase()

%reload_ext sql

%sql show databases

env: DATABASE_URL=mysql+pymysql://root:root@localhost/ventas
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('ventas',)]

## ESPECIFICACIONES INICIALES DE LAS TABLAS DE LA BASE DE DATOS

Escribe las sentencias sql necesarias para crear las siguientes tablas:
1. Tabla clientes:

  *   id entero, autonumérico y clave primaria
  *   nombre texto, obligatorio, longitud máxima 20 carácteres
  *   Teléfono texto de longitud fija de 9 dígitos
  *   ciudad texto de longitud máxima 15 carácteres


2. Tabla productos:
    * id entero, autonumérico y clave primaria
    * nombre texto, obligatorio, longitud máxima de 10 carácteres
    * precio valor décimal con dos dígitos decimales. Máximo valor permitido 9999

3. Tabla ventas:
    * idCliente entero, clave ajena que referencia a la tabla clientes
    * idProducto entero, clave ajena que referencia a la tabla productos.
    * fechaHora campo con fecha y hora de la venta
    * cantidad entero, valor obligatorio

In [ ]:
#@title Ejercicio1: crear la tabla empleados
%%sql
create table clientes (
  id integer auto_increment,
  nombre varchar(20) not null,
  telefono char(9),
  ciudad varchar(15),

  primary key(id)
);

In [ ]:
#@title Ejercicio 2: crear la tabla productos
%%sql

In [ ]:
#@title Ejercicio 3: crear la tabla ventas
%%sql

In [ ]:
#@title Ejercicio 4: añadir a la tabla clientes la columna dni con longitud de 8 carácteres y obligatoria
%%sql
alter table clientes
add column dni char(8) not null

In [ ]:
#@title Ejercicio 5: añadir a la tabla productos una columna "descripcion" con una longitud máxima de 255 caracteres
%%sql

In [ ]:
#@title Ejercicio 6: añadir una tabla con todos los nombres de ciudades e id de ciudad, y cambiar la columna "ciudad" de la tabla "clientes" por un idCiudad que es clave ajena. No pueden existir dos ciudades con el mismo nombre
%%sql
create table ciudades(
  id int auto_increment,
  nombre varchar(10) not null unique,
  primary key (id)
);


alter table clientes
  drop column ciudad,
  add column idCiudad int not null,
  ADD CONSTRAINT fk_clientes_idciudad
    FOREIGN KEY (idciudad) REFERENCES ciudades(id);

In [ ]:
#@title Ejercicio 7: añadir una nueva tabla "tiendas" con columnas id, nombre longitud máxima 20, dirección longitud máxima 50, código postal longitud 5, hora y minutos de apertura y cierre
%%sql

In [ ]:
#@title Ejercicio 8: En la tabla "ventas" añadir una clave ajena para indicar la tienda en la que se ha comprado el producto y la clave primaria será idCliente, idProducto e idTienda
%%sql

In [ ]:
#@title Ejercicio 9: Aplicar un constraint (restricción) a la tabla ventas de tal modo que el atributo cantidad no supere las 100 unidades
%%sql

alter table ventas
  ADD CONSTRAINT ck_ventas_cantidad
    check (cantidad <=100);

In [ ]:
#@title Ejercicio 10: Añadir una restricción a los precios de los productos de tal forma que siempre sean mayor o igual que 10 y menor que 1000
%%sql

In [ ]:
#@title Ejercicio final: generar script de la base de datos
!echo 'base de datos:' {database}
!mysqldump --add-drop-database -d -uroot -proot --databases {database}