<a href="https://colab.research.google.com/github/sgalsant/basedatos/blob/main/colab/template_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Plantilla de ejercicios SQL de base de datos MySQL</h1>

## Alumno/a:.....

## inicialización

In [1]:
database = 'prueba'

In [2]:
#@title instalar mysql server con usuario "root" y contraseña "root"
%%shell
apt-get update > null
apt-get -y install mysql-server > null
/etc/init.d/mysql restart > null
service mysql status

mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

su: warning: cannot change directory to /nonexistent: No such file or directory
 * /usr/bin/mysqladmin  Ver 8.0.35-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2023, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.35-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			2 sec

Threads: 2  Questions: 8  Slow queries: 0  Opens: 119  Flush tables: 3  Open tables: 38  Queries per second avg: 4.000

In [11]:
#@title version de sqlalchemy compatible con magic %sql
#!pip install sqlalchemy==1.4.46 ipython-sql==0.4.1 #la verion de magic sql %sql no es compatible con la version 2.0 o superiores
!pip install pymysql pydot
!pip install sqlalchemy_utils sqlalchemy_schemadisplay


import sqlalchemy
sqlalchemy.__version__ # doctest: +SKIP

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.0)
Requirement already satisfied: pydot in /usr/local/lib/python3.10/dist-packages (1.4.2)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.10/dist-packages (from pydot) (3.1.1)
Requirement already satisfied: sqlalchemy_utils in /usr/local/lib/python3.10/dist-packages (0.41.1)
Requirement already satisfied: sqlalchemy_schemadisplay in /usr/local/lib/python3.10/dist-packages (1.3)
Requirement already satisfied: SQLAlchemy>=1.3 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy_utils) (2.0.23)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from sqlalchemy_schemadisplay) (67.7.2)
Requirement already satisfied: pydot in /usr/local/lib/python3.10/dist-packages (from sqlalchemy_schemadisplay) (1.4.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.3->sqlalchemy_utils) (3.0.2)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.10/dist-packages (from pydot->sqlalchemy_schemadisplay) (3.1.1)

'2.0.23'

In [4]:
#@title conexión a la base de datos, borrando previamente la base de datos si existe
%env DATABASE_URL= mysql+pymysql://root:root@localhost/{database}

import os
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database, drop_database

engine = create_engine(os.environ["DATABASE_URL"])

if database_exists(engine.url):
    drop_database(engine.url)

create_database(engine.url)


%reload_ext sql

%sql show databases

env: DATABASE_URL=mysql+pymysql://root:root@localhost/prueba
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('prueba',),
 ('sys',)]

## Útiles

In [6]:
#@title obtiene el script de la base de datos. No incluye datos
%%shell
mysqldump --add-drop-database -d -uroot -proot --databases prueba

mysqldump: [Warning] Using a password on the command line interface can be insecure.
-- MySQL dump 10.13  Distrib 8.0.35, for Linux (x86_64)
--
-- Host: localhost    Database: prueba
-- ------------------------------------------------------
-- Server version	8.0.35-0ubuntu0.22.04.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `prueba`
--

/*!40000 DROP DATABASE IF EXISTS `prueba`*/;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `prueba` /*!40100 DEFAULT CHARACTER SET utf8mb3 */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `prueba`;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-01-02 13:27:06

## Ejercicios

In [ ]:
#@title Ejercicio1: crear la tabla empleados
%%sql
create table tiposEmpleados (
  id integer auto_increment,
  name varchar(20) not null,
  primary key(id)
);

create table empleados (
  id integer auto_increment,
  name varchar(20) not null,
  idTipo integer,
  primary key (id),
  foreign key (idTipo) references tiposEmpleados(id)
);

 * mysql+pymysql://root:***@localhost/prueba
0 rows affected.
0 rows affected.

[]